<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a id="logo" href="<%= root_url %>">App</a>
      <nav>
        <ul class="nav pull-right">
          <li><a href="<%= root_url %>">Home</a></li>
          <li><a href="<%= help_url %>">Help</a></li>
          
        <% if signed_in? %>
          <li><a href="#">Users</a></li>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="<%= user_url(current_user) %>">Profile</a></li>
              <li><a href="#">Settings</a></li>
              <li class="divider"></li>
              <li><%= link_to "Sign out", signout_url, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li><a href="<%= signin_url %>">Sign in</a></li>
        <% end %>          
        </ul>
      </nav>
    </div>
  </div>
</header>